.page {
    text-align: left !important;
}

.image {
    width: 40vw;
    display: inline-block;
    min-height: 345px;
    min-width: 259px;
    height: auto;
}

.body {
    top: 5vh;
    display: inline-block;
    margin: 0 auto 0 20px;
    font-family: Arial, sans-serif;
    max-width: 730px;
    position: fixed;
}